* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 200px;
  height: 100%;
}

.header-logo {
  height: 30px;
  width: auto;
  margin-left: 20px;
  margin-top: 40px;
}

.gnav-menu {
  list-style: none;
  padding-left: 20px;
  padding-top: 70px;
}

.gnav-item {
  margin-bottom: 20px;
  font-size: 12px;
}

.gnav-item a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
}

.gnav-icon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.mv {
  height: 100vh;
  width: auto;
  margin-left: 200px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mv-bg {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.para {
  font-size: 32px;
}

.new-issue {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vh;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

.mv-issue {
  position: absolute;
  bottom: 150px;
  left: 260px;
  color: #000;
  background-color: #fff;
  padding: 5px;
  font-size: 15px;
}

.mv-title {
  position: absolute;
  bottom: 70px;
  left: 260px;
  color: #000;
  background-color: #fff;
  padding: 5px;
  font-size: 35px;
}

.mv-subtitle {
  position: absolute;
  bottom: 12px;
  left: 260px;
  color: #000;
  background-color: #fff;
  padding: 5px;
  font-size: 35px;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  .header-logo {
    margin-top: 10px;
    position: relative;
    justify-content: center;
  }

    .gnav-toggle {
      position: absolute;
      right: 0;
    }

    #gnav-box {
      position: fixed;
      right: -250px;
      transition: right .3s ease;
    }

    #gnav-box.open {
      right: 0;
    }

    #gnav-input:checked+#gnav-box {
      right: 0;
    }

#gnav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

#gnav-open span,
#gnav-open span::before,
#gnav-open span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  display: block;
}

#gnav-open span::before {
  bottom: -8px;
}

#gnav-open span::after {
  bottom: -16px;
}

    #gnav-close {
      display: none;
    }

    #gnav-input:checked+#gnav-open {
      display: none;
    }

#gnav-input:checked~#gnav-close {
  display: block;
  opacity: 0.5;
  translate: 0 0;
}

    #gnav-input:checked~.gnav-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #fff;
    }

    .gnav-hidden {
      display: none;
    }

    .gnav-unshown {
      display: none;
    }

  .mv {
    height: calc(100vh - 60px);
    margin-left: 0;
    top: 60px;
    position: absolute;
    width: 100%;
    
  }

  .new-issue {
    width: 80%;
    height: auto;
    max-width: 300px;
  }

  .mv-issue,
  .mv-title,
  .mv-subtitle {
    left: 20px;
  }

  .mv-issue {
    font-size: 50%;
    margin: 0;
    bottom: 40%;
  }

  .mv-title {
    font-size: 90%;
    margin: 0;
    bottom: 20%;
  }

  .mv-subtitle {
    font-size: 90%;
    margin: 0;
    bottom: 3%;
  }

  #hamburger {
    width: 30px;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}